.wrapper {
    /* border: 2px solid rgb(37, 255, 81); */


}

.itemsWrapper {

}

.itemsInnerWrapper {

}

.itemWrapper {
    width: fit-content;
    /* border: 1px solid red; */
}

.rightChevronWrapper svg,
.leftChevronWrapper svg {
    font-size: 60px;
    background-color: transparent;
}
